<div class="row chatpage-header">
  <div class="col-9">
    <div class="chatting-name"><a class="logo-homepage" href="/"><span><img id="logo"
            src="/static/img/unicorn3.png"></span>&nbsp&nbsp<span>Solution</span></a></div>
  </div>
  <div class="col-3">
    <div class="row">
      <div class="col-lg-9 col-5"></div>
      <div class="col-lg-3 col-7">
        <div>
          <div id="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
              <a id="header-home" href="/">
                <li>Home</li>
              </a>
              <a id="header-meet" href="/meet">
                <li>Meet</li>
              </a>
              <a id="header-info" href="/information">
                <li>Information</li>
              </a>
              <a id="header-chat" href="/chat">
                <li>Chatroom</li>
              </a>
              <a id="header-logout" href="javascript:void(0)" onclick="logout()">
                <li>Logout</li>
              </a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function logout() {
    document.cookie.split(";").forEach(function(c) { document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/"); });
    console.log("logout");
    window.location.href = "/";
  }
</script>

<!-- <nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
      <a id="header-home" href="/"><li>Home</li></a>
      <a id="header-meet" href="/meet"><li>Meet</li></a>
      <a id="header-info" href="/information"><li>Information</li></a>
      <a id="header-chat" href="/chat"><li>Chatroom</li></a>
    </ul>
  </div>
</nav> -->