<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="static/img/logo.ico" type="image/x-icon" />
  <title>Match | Solution</title>
  <link rel="stylesheet" href="static/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://unpkg.com/@solana/web3.js@latest/lib/index.iife.min.js"></script>
  <script>
    $(function () {
      $("#navbar").load("/header");
      $("#footer").load("/footer");
    }); 
  </script>
</head>

<body>
  <div class="area noselect">
    <div id="navbar"></div>
    <div class="row">
      <div class="context">
        <h1>Meet</h1>
      </div>
    </div>

    <div class="my-container">
      <div class="row">
        <div id="pair" class="col-lg-6 col-sm-9 my-box">
          <a id="meet-solscan-url" target="_blank"><img id="meet-photo" class="col-lg-6 col-9 photo"></a>
          <div id="meet-name" class="name"></div>
          <div id="meet-pubkey" class="pubkey"></div>
          <div class="detail">
            <table>
              <tr>
                <td>BIRTHDAY</td>
                <td id="meet-birthday"></td>
              </tr>
              <tr>
                <td>GENDER</td>
                <td id="meet-gender"></td>
              </tr>
              <tr>
                <td>HOBBY</td>
                <td id="meet-hobby"></td>
              </tr>
            </table>
          </div>
          <div class="chat-box">
            <a id="meet-action" class="button-look chat-button"></a>
            <center>
              <div id="meet-wait" class="button-look" style="display: none;"></div>
            </center>
          </div>
        </div>

        <div class="row status-row">
          <div class="col"></div>
          <div class="col-lg-4 col-sm-10">
            <div class="row">
              <div class="col">
                <center>
                  <div id="meet-like" class="circle"></div><br>
                  <div class="status-line-text">Like</div>
                </center>
              </div>
              <div class="col">
                <center>
                  <div id="meet-trans" class="circle"></div><br>
                  <div class="status-line-text">Transaction</div>
                </center>
              </div>
              <div class="col">
                <center>
                  <div id="meet-paired" class="circle"></div><br>
                  <div class="status-line-text">Paired</div>
                </center>
              </div>
            </div>
          </div>
          <div class="col"></div>
        </div>

        <div id="no-pair" class="col-lg-6 col-sm-9 my-box" style="display: none;">
          <img class="col-lg-6 col-9 photo" src="static/img/despair.png">
          <div class="name">Oh no...</div>
          <div class="no-match-text">You don't have match today...
            <br>Tomorrow is another day 😢
          </div>
        </div>
      </div>
    </div>
    <div id="footer"></div>
  </div>
  <script src="/static/js/meet.js"></script>
  <script>
    fetchPairing();
  </script>
</body>

</html>